version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: parking-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: parkingdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d

  app:
    build: .
    container_name: parking-monitor
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "3000:3000"

volumes:
  pgdata:
